.CharacterCardContainer {
    top: 192px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px; /* 枠の幅 */
    height: 152px; /* 枠の高さ */
    border-radius: 32px; /* 角丸の四角 */
    background-color: #f0f0f0; /* 枠の背景色 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* 影を追加 */
    overflow: visible; /* 枠外の要素を表示する */
    border: 2px solid #fff; /* 枠線を追加 */
    left : 13px;
}

.backgroundIcon {
    position: absolute; /* 枠の中で自由に配置できるように */
    width: 100%; /* 枠のサイズに合わせる */
    height: 100%;
    object-fit: cover; /* 枠に収めて必要な部分を切り取る */
    border-radius: 32px; /* 枠と同じ角丸に設定 */
}

.CharacterCardIcon {
    position: absolute; /* 背景画像の上に配置 */
    top: 10px; /* 上部から10px下に配置 */
    right: 10px; /* 右部から10px左に配置 */
    width: 32px; /* アイコンのサイズ */
    height: auto;
    z-index: 2; /* 背景画像の前面に表示 */
}

.overlayButton {
    position: absolute;
    top: 140px; /* カードの上から139pxに配置 */
    left: 18px; /* 横から18pxに配置 */
    width: 80px; /* ボタンの幅 */
    height: 24px; /* ボタンの高さ */
    border-radius: 10px; /* 角を丸くする */
    background-color: #ffffff; /* ボタンの背景を白に設定 */
    color: #333; /* ボタンの文字色を黒に設定 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* ボタンに影を追加 */
    z-index: 3; /* カードより前面に表示 */
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CharacterCardattention {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4; /* 他の要素より前面に表示 */
}

