.intimacyContainer {
  display: flex;
  position: fixed;
  top: 50px;
  left: 30%;
  transform: translateX(-50%);
  z-index: 2;
  align-items: center; /* 画像とボタンを縦方向に中央揃え */
}

.intimacyIcon {
  width: 60px; /* 画像のサイズ（お好みで調整） */
  height: auto;
  margin-right: -20px; /* 画像とボタンの間に重なるようにマイナスの余白 */
  z-index: 3; /* ボタンより前面に表示 */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px; /* ボタンの幅 */
  height: 30px; /* ボタンの高さ */
  border-radius: 15px; /* 四角いボタンの角を丸くする */
  background-color: #fff; /* ボタンの背景色を白に設定 */
  color: #333; /* ボタンの文字色を黒に設定 */
  font-weight: bold;

  z-index: 2; /* 画像より後ろに配置 */
}