/* Kinds.module.css */
.container {
    position: fixed;
    width: 100%;
    height: 100%
  }
  
  .image1 {
    position: absolute;
    top: 169px;
    left: 12px;
    width: 68px;
    height: 28px;
  }
  
  .image2 {
    position: absolute;
    top: 339px;
    left: 12px;
    width: 68px;
    height: 28px;
  }
  
  .image3 {
    position: absolute;
    top: 509px;
    left: 12px;
    width: 68px;
    height: 28px;
  }