/* Log.module.css */

.viewer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
  margin-top: 178px; /* Header の高さに合わせる */
  margin-bottom: 56px; /* Navbar の高さに合わせる */
}

.titleImage {
  width: calc((100% - 64px) / 3); /* 3列に分割 */
  margin-bottom: 16px;
  object-fit: cover;
}